click
attrs

html-text
lxml
parsel
pymongo[srv, snappy, zstd]
pyyaml
requests
fastnumbers

aiohttp[speedups]
motor
uvloop

fastapi
orjson
ujson
uvicorn

pymorphy2
pymorphy2-dicts-ru
more_itertools
pandas
sklearn
joblib
xlrd
